@page
@model RegisterModel
@using WebApp.Utility;
@{
    ViewData["Title"] = "Rejestruj użytkownika";
}

<h1>@ViewData["Title"]</h1>


<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div>
        <h4>Stwórz nowe konto.</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-1">
                <label asp-for="Input.Email" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Input.Email" class="form-control" />
            </div>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-1">
                <label asp-for="Input.UserName" class="col-form-label">Login</label>
            </div>
            <div class="col-5">
                <input asp-for="Input.UserName" class="form-control" />
            </div>

            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-1">
                <label asp-for="Input.FirstName" class="col-form-label">Imię</label>
            </div>
            <div class="col-5">
                <input asp-for="Input.FirstName" class="form-control" />
            </div>
            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-1">
                <label asp-for="Input.LastName" class="col-form-label">Nazwisko</label>
            </div>
            <div class="col-5">
                <input asp-for="Input.LastName" class="form-control" />
            </div>
            <span asp-validation-for="Input.LastName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            @if (User.IsInRole(StaticDetails.AdminUser))
            {
                <div class="col-1">
                    <label asp-for="Input.RoomNo" class="col-form-label">Nr pokoju</label>
                </div>
                <div class="col-5">
                    <input asp-for="Input.RoomNo" class="form-control" />
                </div>
                <span asp-validation-for="Input.RoomNo" class="text-danger"></span>
            }
            else
            {
                <div class="col-1">
                    <label asp-for="Input.RoomNo" class="col-form-label">Lekarz</label>
                </div>
                <div class="col-5">
                    <select asp-for="Input.RoomNo" class="form-control" id="RoomSelection">
                        @foreach (var item in Model.Input.AvailableRooms)
                        {
                            <option>@Html.DisplayFor(m => item)</option>
                        }

                    </select>
                </div>
                <span asp-validation-for="Input.RoomNo" class="text-danger"></span>
            }
        </div>
        <div class="form-group row">
            <div class="col-1">
                <label asp-for="Input.Password" class="col-form-label">Hasło</label>
            </div>
            <div class="col-5">
                <input asp-for="Input.Password" class="form-control" />
            </div>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-1">
                <label asp-for="Input.ConfirmPassword" class="col-form-label">Potwierdź hasło</label>
            </div>
            <div class="col-5">
                <input asp-for="Input.ConfirmPassword" class="form-control" />
            </div>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        @if (User.IsInRole(StaticDetails.AdminUser))
        {
            <div class="form-group row">
                <div class="col-2">

                </div>
                <div class="col-5">
                    <input type="radio" name="rdUserRole" value="@StaticDetails.AdminUser" checked />Administrator
                    <input type="radio" name="rdUserRole" value="@StaticDetails.DoctorUser" checked />Lekarz
                    <input type="radio" name="rdUserRole" value="@StaticDetails.NurseUser" checked />Pielęgniarka
                </div>

            </div>
        }
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
