@model IEnumerable<User>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class=" backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Lista użytkowników</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-info"><i class="fas fa-plus"></i> &nbsp; Rejestruj nowego użytkownika</a>
        </div>
    </div>
    <br />
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.RoomNo)
                    </th>
                    <th></th>
                    
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            @Html.DisplayFor(m => item.UserName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(m => item.Email)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(m => item.RoomNo)
                        </td>
                        <td class="align-middle">
                            @if (item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
                            {
                                <a class="btn btn-success text-white" asp-action="Lock" asp-route-id="@item.Id">
                                    <i class="fas fa-lock-open"></i>
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-danger text-white" asp-action="Unlock" asp-route-id="@item.Id">
                                    <i class="fas fa-lock"></i>
                                </a>
                            }

                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>Brak użytkowników</p>
        }
    </div>
</div>
